body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --body-b4: Roboto;
  
    /* font sizes */
    --font-size-sm: 14px;
    --body-b4-size: 12px;
    --font-size-base-1: 16.1px;
    --font-size-4xl-4: 23.4px;
    --font-size-lgi: 19px;
    --body-b1-size: 20px;
    --font-size-base: 16px;
    --font-size-10xl: 29px;
    --font-size-29xl: 48px;
    --font-size-19xl: 38px;
    --font-size-mini-1: 14.1px;
    --header-h2-size: 32px;
  
    /* Colors */
    --color-white: #fff;
    --foundation-black-b10: #fafafa;
    --color-gray-100: rgba(255, 255, 255, 0.2);
    --foundation-black-b900: #000;
    --color-gainsboro: rgba(216, 216, 216, 0.51);
    --foundation-green-g900: #c9d32c;
  
    /* Gaps */
    --gap-mini: 15px;
    --gap-79xl: 98px;
    --gap-5xl: 24px;
    --gap-3xs-7: 9.7px;
    --gap-20xl-4: 39.4px;
    --gap-xl: 20px;
  
    /* Paddings */
    --padding-31xl: 50px;
    --padding-13xl: 32px;
    --padding-3xs: 10px;
    --padding-xl: 20px;
    --padding-34xl: 53px;
    --padding-51xl: 70px;
    --padding-mid: 17px;
    --padding-24xl-7: 43.7px;
    --padding-base-9: 16.9px;
    --padding-24xl: 43px;
    --padding-27xl: 46px;
    --padding-7xl: 26px;
    --padding-7xl-3: 26.3px;
    --padding-7xl-2: 26.2px;
    --padding-15xl-4: 34.4px;
  
    /* Border radiuses */
    --br-3xs-7: 9.7px;
    --br-xs: 12px;
    --br-smi-1: 12.1px;
    --br-99xl-2: 118.2px;
  }
  